{% extends "main.html" %}

{% block title %}Message Inbox{% endblock title %}

{% block content %}

<main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">New Messages(<span>{{countUnRead}}</span>)</h3>
      <ul class="messages">
        {% for message in msg %}
        {% if message.is_read %}
        <li class="message">
        {% else %}
        <li class="message message--unread">
        {% endif %}
          <a href="{% url 'message' message.id %}">
            <span class="message__author">{{message.sender}}</span>
            <span class="message__subject">{{message.subject}}</span>
            <span class="message__date">{{message.created}}</span>
          </a>
        </li>
        {% endfor %}
       
      </ul>
      <div class="pagination">
        {% if msg.has_other_pages %}
        <ul class="container">
          {% if msg.has_previous %}
          <li><a href="?page={{msg.previous_page_number}}"  class="btn btn--sub">&#10094; Prev</a></li>
          {% endif %}
          {% for page in total_page %}
          <li><a href="?page={{page|add:'1'}}" class="btn btn--sub">{{forloop.counter}}</a></li>
          {% endfor %}
          {% if msg.has_next %}       
          <li><a href="?page={{msg.next_page_number}}" class="btn">Next &#10095;</a></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </main>

{% endblock content %}